%link {
  text-decoration: none;
}

%fieldset {
  border: 2px solid;
  font-family: $lato-font;
  padding: 30px 150px;
  text-align: center;

  @include xs-block() {
    padding: 0 10px;
  }
}

%legend {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0 50px;

  @include xs-block() {
    padding: 0 10px;
    font-size: 18px;
  }
}

%fieldset-text {
  font-weight: 300;
  line-height: 24px;

  @include xs-block() {
    font-size: 13px;
  }
}
