$main-color: #555555;
$secondary-color: #c7b299;
$background-color: #362f2d;
$white-color: #ffffff;
$social-color: #c6cacc;
$montserrat-font: 'Montserrat', sans-serif;
$raleway-font: 'Raleway', sans-serif;
