form#todo.todo
  input(class="todo__seatch" name="search" placeholder="search by title" type="text" size="40")
  select(class="todo__select" id="task-status" name="status")
    option(value="all") All
    option(value="open") Open
    option(value="done") Done
  select(class="todo__select" id="task-priority" name="priority")
    option(value="all") All
    option(value="high") High
    option(value="normal") Normal
    option(value="low") Low
  button(class="todo__button" id="button-create") Create