section.section-clients#clients
  .container
    .section
      h2.section__title our clients are
      p(style="color: #231F20" class="section__description").
        “Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. 
        Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. Curabitur aliquet quam id dui posuere blandit”
      span.section__description-sub Mr.Lorem Ipsum