section.section-contact.section-observe#contact
  .container
    .contact
      .contact__bio
        h2.contact__title about us
        p.contact__description.
          Vivamus suscipit tortor eget felis porttitor volutpat. Vestibulum 
          ac diam sit amet quam vehicula elementum sed sit amet dui. 
          Pellentesque in ipsum id orci porta dapibus. Proin eget tortor risus. 
          Curabitur aliquet quam id dui posuere blandit. Donec rutrum 
          congue leo eget malesuada. Vivamus suscipit tortor eget 
          felis porttitor volutpat. Vivamus suscipit tortor eget felis.
      .contact__block
        .contact__form
          h2.contact__title contact us
          span.contact__name email
          input(type="email" id="email" autocomplete="off")
          span.contact__name(style="margin-top: 45px") message
          input(type="text" id="message" autocomplete="off")
          input(type="text" id="message2" autocomplete="off" style="margin-top: 26px")
          button.button-form send
