section.section-footer
  .container
    .footer
      p.footer__links  &copy 2015 - Modus All Right Reserved
      .footer__social
        a.social__logo(href="#")
          svg.social__icon.social__icon-facebook
            use(href="images/icons/sprite.svg#facebook")
        a.social__logo(href="#")
          svg.social__icon.social__icon-twitter
            use(href="images/icons/sprite.svg#twitter")
        a.social__logo(href="#")
          svg.social__icon.social__icon-dribble
            use(href="images/icons/sprite.svg#dribble")
