.container
  .header-section
    .logo
      img(src="images/logo/logo.png" class="logo__image")
    nav.navigation
      each n in ['home', 'portfolio','services', 'clients','contact']
        a(href=`#${n}` class="navigation__list")=n
section.section-home.section-observe#home
  .creativity
    p.creativity__title-sub
      | DESIGN / DEVELOPMENT / PHOTOGRAPHY
    h1.creativity__title
      | CREATIVITY HAVE NEW LEVEL
    button.button.creativity__preview preview
    button.button.creativity__theme get theme
  .triangle

