section.section-devices
  .container
    .devices
      .devices__image
      .devices__text
        h2.devices__title Excellent for Mobile Devices.
        p.devices__description.
          Qisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis
          nisl ut aliquip ex ea commodo consequat. Investigationes demonstraverunt lectores
          legere me lius quod ii legunt saepius claritas. Eodem modo typi, qui nunc nobis
          videntur parum clari, fiant sollemnes in futurum.
        ul.devices__list
          li.devices__item Nam liber tempor cum soluta nobis eleifend option
          li.devices__item Option congue nihil imperdiet doming id quod mazim placerat facer
          li.devices__item Eodem modo typi, qui nunc nobis videntur parum futurum
          li.devices__item Investigationes demonstraverunt lectores
