section.section-purchase
  .container
    .purchase
      .purchase__text
        h2.purchase__text-title
          span.first-word Waxom 
          | Multipurpose WordPress Theme
        p.purchase__text-description
          | Don't Forget to Rate the Template. Thanks so much!
      a.purchase__button(href="#")
        button.button(type='button') purchase now