section.section-video
  .container
    .player
      a(href="#")
        button.player__button
      h2.section__title Waxom Video Presentation
      p.section__description.
        Investigationes demonstraverunt lectores legere me
        lius quod ii legunt saepius, qui sequitur mutationem consuetudium.
      span.player__timer 03:26    