.section-clients {
  background-color: $white-color;
  padding-top: 107px;
  padding-bottom: 110px;
  @include xs(padding, 50px 0);
}

.section__description-sub {
  display: inline-block;
  margin-top: 22px;
  font-family: $crimson-font;
  font-size: 15px;
  color: #999999;
  font-style: italic;
}

.clients {
  @include row-flex();
  justify-content: space-between;
  margin-top: 85px;
  @include xs(margin-top, 45px);

  &__image {
    @include sm(margin-bottom, 20px);
  }
}
