.section-clients {
  background-color: $white-color;
  padding-top: 107px;
  padding-bottom: 110px;
}

.section__description-sub {
  display: inline-block;
  margin-top: 22px;
  font-family: $crimson-font;
  font-size: 15px;
  color: #999999;
  font-style: italic;
}
