.portfolio {
  @include row-flex();

  &__list {
    @include col();
    @include size(4);
    @include size-md(6);
    @include size-xs(12);
    @include sm(height, 400px);
    @include sm(margin-bottom, 10px);

    background-color: $background-color;
    color: $white-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 555px;
    position: relative;

    // HOVER portfolio
    &:hover {
      .portfolio__block {
        @include sm(height, 300px);

        z-index: 2;
        height: 430px;
        background-color: $hover-color;
      }

      .portfolio__title {
        display: block;
      }

      .portfolio__description {
        display: block;
      }

      .social {
        display: block;
      }
    }
  }

  &__num {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;
    font-family: $crimson-font;
    font-weight: 400;
    font-size: 20px;
  }

  // portfolio
  &__block {
    @include sm(padding, 24px 37px 0 37px);
    @include xs(padding, 10px);
    text-align: center;
    padding: 70px 37px 0 37px;
    position: relative;
    display: none;
    height: 0;
    transition: height 0.2s ease;
    display: block;
  }

  &__title {
    @include xs(margin-bottom, 30px);
    font-family: $montserrat-font;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-bottom: 63px;
    display: none;
  }

  &__description {
    font-family: $crimson-font;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.8;
    color: $white-color;
    margin-bottom: 54px;
    display: none;
  }
}

// ICONS
.social {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;

  &__logo:not(:first-child) {
    margin-left: 30px;
  }

  &__icon {
    fill: $white-color;
    transition: fill 0.2s linear;

    &:hover {
      fill: $background-color;
    }

    &-facebook {
      width: 10px;
      height: 20px;
    }

    &-twitter {
      width: 19px;
      height: 16px;
    }
  }
}
