$main-color: #231f20;
$secondary-color: #131316;
$background-color: #00c7fc;
$white-color: #ffffff;
$nav-color: #707070;
$text-color: #637988;
$montserrat-font: 'Montserrat', sans-serif;
$crimson-font: 'Crimson Text', sans-serif;
