.container
  fieldset.contacts
    legend.contacts__title contact us
    p.contacts__desc.
      Planning and development is iterative. Because we are constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve. 
    button.contacts__button contact us