.container
  .main
    a.main__logo
      img(src="./images/icons/logo.png" alt="logo")
    h1.main__title working 
      br
      span with design lab
    p.main__desc.
      We’ve been helping startups launch and grow their businesses. We help you to fill the gap between development, 
      design and product management.
  .mouse-icon
    .wheel  