div.portfolio
  div.portfolio__img.portfolio__img-topworks
    p.portfolio__text topworks 
  div.portfolio__img.portfolio__img-joint
    p.portfolio__text joint 
  div.portfolio__img.portfolio__img-market
    p.portfolio__text market 
  div.portfolio__img.portfolio__img-worktop
    p.portfolio__text worktop 
  div.portfolio__img.portfolio__img-lable
    p.portfolio__text lable 
  div.portfolio__img.portfolio__img-city
    p.portfolio__text kyiv 