.container
  fieldset.we
    legend.we__title what we do
    ul.we__list
      li.we__item
        svg.we__icon
          use(href='images/icons/works.svg#shape1')
        h2.we__desc-title  design
        p.we__desc.
          Our design practice offers a full range of services including branding strategy,
          interaction and visual design and user experience testing. 
          Throughout your project, our designers create and implement visual designs and workflows, solicit user feedback, and work with you to make sure what gets built is what is needed. 
      li.we__item
        svg.we__icon
          use(href='images/icons/works.svg#shape2')
        h2.we__desc-title development 
        p.we__desc.
          All engineers are fluent in the latest enterprise, mobile and web development technologies. 
          They collaborate with your team to write, test, and improve code on a daily basis, using proven practices such as test-driven development and pair programing.
      li.we__item
        svg.we__icon
          use(href='images/icons/works.svg#shape3')
        h2.we__desc-title product management
        p.we__desc.
          Planning and development is iterative. Because we are constantly coding and testing, the products we build are always ready to go live. This iterative process allows for changes as business requirements evolve. 

